* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 206, 206, 0.89)
}

.calculator {
    display: grid;
    grid-template-rows: 7% 24% auto;
    width: 300px;
    height: 500px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(7, 11, 17, 0.171)
}

.cal-header {
    background-color: rgb(208, 182, 233);
}

.cal-body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    background-color: bisque;
    text-align: right;
}

.cal-footer {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    background-color: #fff;
    padding: 10px;
}

.cal-footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    font-size: 20px;
    font-family: fantasy;
    border-radius: 3px;
    color: white;
    box-shadow: 5px 5px 5px rgba(7, 11, 17, 0.541);
    transition: 0.4s all;
}

.cal-footer div.symble {
    background-color: rgba(42, 18, 153, 0.418)
}

.cal-footer div.symble:hover {
    background-color: rgba(211, 15, 80, 0.548)
}

.cal-footer div.number {
    background-color: rgba(17, 111, 233, 0.418)
}

.cal-footer div.number:hover {
    background-color: rgba(13, 238, 208, 0.849)
}

.cal-header {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    color: crimson;
    text-shadow: 4px 4px 4px darkmagenta;
}